Leaf TLS authentication incorrectly uses case sensitive SAN DNS Name

## Defect

Make sure that these boxes are checked before submitting your issue -- thank you!
 - [x] Included `nats-server -DV` output
 - [x] Included a [Minimal, Complete, and Verifiable example] (https://stackoverflow.com/help/mcve)

#### Versions of `nats-server` and affected client libraries used:
- ```nats-server: v2.2.2```
- No client libraries are needed.

#### OS/Container environment:
Executing directly on my Windows laptop.

#### Steps or code to reproduce the issue:
You will need a certificate `cert.pem` plus its corresponding private key `key.pem` that:
- has a Subject Alternative Name (SAN) with a DNS Name of `localhost`
- is valid for both `TLS Client Authentication` as well as `TLS Server Authentication`
- is trusted by the OS

**`A.conf`**
```
server_name: A
listen: 127.0.0.1:4223
leafnodes: {
    tls: {
        cert_file: cert.pem
        key_file: key.pem
        verify_and_map: true
    }
    authorization: {
        users: [
            { user: 'LoCaLhOsT' }
        ]
    }
    listen: 127.0.0.1:7422
}
```

**`B.conf`**
```
server_name: B
listen: 127.0.0.1:4224
leafnodes: {
    remotes: [
        {
            tls: {
                cert_file: cert.pem
                key_file: key.pem
            }
            url: 'nats-leaf://localhost'
        }
    ]
}
```

Execute:
1. `.\nats-server --config A.conf -DV`
2. `.\nats-server --config B.conf -DV`

#### Expected result:
I expect server `B` to correctly establish a leaf connection to server `A`

This is because server `B` presents a Client Certificate for DNS Name `localhost` and server `A` has a user `LoCaLhOsT` and these are identical if a case-insensitive comparison is performed.

[RFC 4985](https://tools.ietf.org/html/rfc4985#section-3) states:
> When comparing DNS names for equality, conforming implementations MUST perform a case-insensitive exact match on the entire domain name.

[RFC 6125](https://tools.ietf.org/html/rfc6125#section-3.1.3.1) states:
> The DNS labels and names MUST be compared for equality according to the rules specified in Section 3 of RFC3490.

and [RFC 3490](https://tools.ietf.org/html/rfc3490#section-3) states:
> Labels are defined to be equivalent if and only if their ASCII forms produced by ToASCII match using a case-insensitive ASCII comparison.

#### Actual result:
NATS Server incorrectly performs a [case sensitive comparison](https://github.com/nats-io/nats-server/blob/v2.2.2/server/auth.go#L981-L988) and therefore the leaf connection fails.  If you change the case of the user in `A.conf` from `LoCaLhOsT` to the case used in the DNS Name in the certificate (i.e. `localhost`) then the connection succeeds, but this shouldn't be necessary, because the RFCs are clear that a case insensitive comparison must be performed.  To fix this bug please change the method `isLeafNodeAuthorized` to perform a case insensitive comparison for SAN DNS Names, for example by using the already existing methods [`dnsAltNameLabels` and `dnsAltNameMatches`](https://github.com/nats-io/nats-server/blob/v2.2.2/server/auth.go#L832-L862) that are already used for both a [cluster](https://github.com/nats-io/nats-server/blob/v2.2.2/server/auth.go#L880-L884) and for a [gateway](https://github.com/nats-io/nats-server/blob/v2.2.2/server/auth.go#L916-L923) authorization check.

**Logs from `A`**:
```
[7828] 2021/05/06 13:05:45.159696 [INF] Starting nats-server
[7828] 2021/05/06 13:05:45.160256 [INF]   Version:  2.2.2
[7828] 2021/05/06 13:05:45.160816 [INF]   Git:      [a5f3aab]
[7828] 2021/05/06 13:05:45.160816 [DBG]   Go build: go1.16.3
[7828] 2021/05/06 13:05:45.160816 [INF]   Name:     A
[7828] 2021/05/06 13:05:45.161331 [INF]   ID:       NDGS5WINLTPFPRSI3UBR74FLJNJQQXFV2NQEB7ORBNHJJFLGFYKHSHWN
[7828] 2021/05/06 13:05:45.161378 [INF] Using configuration file: A.conf
[7828] 2021/05/06 13:05:45.161378 [DBG] Created system account: "$SYS"
[7828] 2021/05/06 13:05:45.162516 [INF] Listening for leafnode connections on 127.0.0.1:7422
[7828] 2021/05/06 13:05:45.164092 [INF] Listening for client connections on 127.0.0.1:4223
[7828] 2021/05/06 13:05:45.164092 [INF] Server is ready
[7828] 2021/05/06 13:05:59.379299 [INF] 127.0.0.1:53417 - lid:3 - Leafnode connection created
[7828] 2021/05/06 13:05:59.379835 [DBG] 127.0.0.1:53417 - lid:3 - Starting TLS leafnode server handshake
[7828] 2021/05/06 13:05:59.420642 [TRC] 127.0.0.1:53417 - lid:3 - <<- [CONNECT {"tls_required":true,"server_id":"NDXHB774BS3EWTC5VIEZJOYSM2HDBIFAI2PLAJMRN4PTAY4XKGTZEGJ3","name":"B","headers":true}]
[7828] 2021/05/06 13:05:59.421246 [DBG] 127.0.0.1:53417 - lid:3 - Multiple peer certificates found, selecting first
[7828] 2021/05/06 13:05:59.422368 [DBG] 127.0.0.1:53417 - lid:3 - DistinguishedNameMatch could not be used for auth ["CN=temp"]
[7828] 2021/05/06 13:05:59.422368 [DBG] 127.0.0.1:53417 - lid:3 - User in cert ["CN=temp"], not found
[7828] 2021/05/06 13:05:59.422368 [ERR] 127.0.0.1:53417 - lid:3 - authentication error
[7828] 2021/05/06 13:05:59.422948 [TRC] 127.0.0.1:53417 - lid:3 - ->> [-ERR Authorization Violation]
[7828] 2021/05/06 13:05:59.422948 [INF] 127.0.0.1:53417 - lid:3 - Leafnode connection closed: Authentication Failure
...
```

**Logs from `B`**:
```
[6672] 2021/05/06 13:05:57.357361 [INF] Starting nats-server
[6672] 2021/05/06 13:05:57.357943 [INF]   Version:  2.2.2
[6672] 2021/05/06 13:05:57.358523 [INF]   Git:      [a5f3aab]
[6672] 2021/05/06 13:05:57.358523 [DBG]   Go build: go1.16.3
[6672] 2021/05/06 13:05:57.358523 [INF]   Name:     B
[6672] 2021/05/06 13:05:57.358523 [INF]   ID:       NDXHB774BS3EWTC5VIEZJOYSM2HDBIFAI2PLAJMRN4PTAY4XKGTZEGJ3
[6672] 2021/05/06 13:05:57.359035 [INF] Using configuration file: B.conf
[6672] 2021/05/06 13:05:57.359035 [DBG] Created system account: "$SYS"
[6672] 2021/05/06 13:05:57.360070 [INF] Listening for client connections on 127.0.0.1:4224
[6672] 2021/05/06 13:05:57.360070 [INF] Server is ready
[6672] 2021/05/06 13:05:57.362773 [DBG] Trying to connect as leafnode to remote server on "localhost:7422" ([::1]:7422)
[6672] 2021/05/06 13:05:58.371537 [ERR] Error trying to connect as leafnode to remote server "localhost:7422" (attempt 1): dial tcp [::1]:7422: i/o timeout
[6672] 2021/05/06 13:05:59.378672 [DBG] Trying to connect as leafnode to remote server on "localhost:7422" (127.0.0.1:7422)
[6672] 2021/05/06 13:05:59.379299 [INF] 127.0.0.1:7422 - lid:3 - Leafnode connection created
[6672] 2021/05/06 13:05:59.379835 [DBG] 127.0.0.1:7422 - lid:3 - Starting TLS leafnode client handshake
[6672] 2021/05/06 13:05:59.403554 [DBG] 127.0.0.1:7422 - lid:3 - Remote leafnode connect msg sent
[6672] 2021/05/06 13:05:59.422948 [ERR] 127.0.0.1:7422 - lid:3 - Leafnode Error 'Authorization Violation'
[6672] 2021/05/06 13:05:59.423464 [INF] 127.0.0.1:7422 - lid:3 - Leafnode connection closed: Client Closed
...
```

@wallyqs or @philpennock any updates here.